<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work - [Project Title]</title>
    <link rel="stylesheet" href="/git2025/assets/css/styles.css"> <link rel="stylesheet" href="/git2025/assets/css/pagebuilder.css"> </head>
<body>
    <header>
        <nav id="myNav" class="nav">
            <img src="/git2025/uploads/images/icon/main-logo.png" alt="CWT | Developer" id="nav-logo">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            <div class="flex-col">
                <p>Chris-WebTech Presents | Your 2025 Github</p>
                <ul class="krona-one-regular">
                    <li><a href="/git2025">Home</a></li>
                    <li><a href="/git2025/about.html">About</a></li>
                    <li class="dropdown">
                        <a href="/git2025/code.html" class="dropdown-toggle-desktop">Work</a>
                        <a href="/git2025/code.html" class="dropdown-toggle-mobile">Work</a>
                        <ul class="dropdown-menu" id="projectDropdownMenu">
                            </ul>
                    </li>
                    <li><a href="https://christophernmiller.wixsite.com/chris-webtech" target="_blank">Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="project-content">
        <section id="project-details">
            <h2 id="project-title"></h2>
            <p id="project-description"></p>
            <p>Technologies: <span id="project-technologies"></span></p>
            <div class="code-container">
                <h3>Code:</h3>
                <pre><code id="project-code"></code></pre>
                <button class="copy-button pos-right">Copy</button>
            </div>
            </section>
    </main>

    <footer>
        </footer>

    <script src="http://localhost/git2025/assets/js/nav.js"></script> <script src="http://localhost/git2025/assets/template/js/page-builder.js"></script> </body>
</html>